@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Layout Variables */
  --banner-height: 9vh;
  --border-size: 2px;
  --rarity-border-size: 3px;
  --banner-offset: calc(var(--banner-height) + var(--border-size));

  /* Spacing Variables */
  --margin-card: 5px;
  --margin-top-page: calc(var(--banner-height) + 10vh);
  --margin-bot-page: 10vh;

  --article-offset: calc((var(--margin-top-page) * -1));

  --gap-content: 5vh;
  --gap-writing: 1em;
  

  /* Color Variables */
  --UI-bg-color:      rgb(0, 0, 0);    
  --UI-border-color:  rgba(255, 255, 255, 0.2);
  --UI-text-color:    rgb(255, 255, 255);

  --AT-text-color:    rgb(53, 35, 7);

  --everything-color: rgb(0, 0, 0);
  --world-color:      rgb(156, 95, 44);
  --nation-color:     rgb(125, 208, 233);
  --faction-color:    rgb(199, 82, 82);
  --tradition-color:  rgb(224, 208, 64);
  --region-color:     rgb(64, 148, 85);
  --US-color:         rgb(164, 144, 172);
  --race-color:       rgb(137, 94, 192);
  --short-color:      rgb(241, 241, 241);
  --item-color:       rgb(224, 167, 42);
  --creature-color:   rgb(184, 34, 210);
  --character-color:  rgb(0, 92, 153);

  --common-color:     rgb(255, 255, 255);
  --rare-color:       rgb(34, 103, 167);
  --unique-color:     rgb(202, 99, 39);

  --common-glow:      rgba(255, 255, 255, 0.7); 
  --rare-glow:        rgba(34, 103, 167, 0.7);
  --unique-glow:      rgba(202, 99, 39, 0.7);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Base rarity borders */
.common { border: 3px solid var(--common-color); }
.rare   { border: 3px solid var(--rare-color); }
.unique { border: 3px solid var(--unique-color); }

.common:hover { box-shadow: 0 0 4px 2px var(--common-glow);}
.rare:hover   { box-shadow: 0 0 8px 6px var(--rare-glow);}
.unique:hover { box-shadow: 0 0 10px 8px var(--unique-glow);}

.common, .rare, .unique { transition: box-shadow 0.5s ease; }
.card:hover:not(.common):not(.rare):not(.unique) { border-color: goldenrod; }

.extra-italic {
  font-style: italic;
  font-style: oblique 45deg; /* More italic angle */
}

@layer utilities {

  .h-banner     { height: var(--banner-height); }

  .bg-color-var { background-color: var(--UI-bg-color);}
  
  .border-var   { border-width: var(--border-size); }
  .border-t-var { border-top-width: var(--border-size); }
  .border-b-var { border-bottom-width: var(--border-size); }
  .border-color-var { border-color: var(--UI-border-color); }

  .text-color-AT { color: var(--AT-text-color);}

  .ml-card { margin-left: var(--margin-card); }
  .mt-card { margin-top: var(--margin-card); }
  .mt-page { margin-top: var(--margin-top-page); }
  .mt-c    { margin-top: var(--gap-content); }
  .mb-page { margin-bottom: var(--margin-bot-page); }

  .gap-c   { gap: var(--gap-content); }
  .gap-wr  { gap: var(--gap-writing); }

  .top-article-offset { top: var(--article-offset); }
  .top-banner-offset  { top: var(--banner-offset); }

  .articleBanner {
    --pos-Y-shown: 0;
    --pos-Y-hidden: -90%;
    --pos-X-shown: 0;
    --pos-X-hidden: 0;
  }

  .articleContent {
    --pos-Y-shown: -25%;
    --pos-Y-hidden: 0;
    --pos-X-shown: 0;
    --pos-X-hidden: 0;
  }

  .card {
    --pos-Y-shown: 0;
    --pos-Y-hidden: 0;
    --pos-X-shown: 0;
    --pos-X-hidden: 100px;
  }

  .is-shown {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(var(--pos-Y-shown));
    transform: translateX(var(--pos-X-shown));
  }

  .is-hidden {
    opacity: 0;
    pointer-events: none;
    transform: translateY(var(--pos-Y-hidden));
    transform: translateX(var(--pos-X-hidden));
  }

  .is-removed {
    display: none;
  }

  .card:hover .et-shadow {
    opacity: 0.65;
    transition: opacity 0.5s ease-in-out;
  }

  /* Base stripe for any pressed button */
  .explore-button.pressed::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    border-radius: 0px;
    box-shadow: inset 0 -2px 4px rgba(59, 59, 59, 0.4);
    opacity: 0;
    transform: translateY(6px);
    animation: stripeFadeIn 0.6s ease forwards;
  }

  /* Apply the category background color to the stripe and icons */
  .explore-button.pressed.filter-everything::after,.category-everything   { background-color: var(--everything-color); }
  .explore-button.pressed.filter-world::after,     .category-world        { background-color: var(--world-color); }
  .explore-button.pressed.filter-nation::after,    .category-nation       { background-color: var(--nation-color); }
  .explore-button.pressed.filter-faction::after,   .category-faction      { background-color: var(--faction-color); }
  .explore-button.pressed.filter-tradition::after, .category-tradition    { background-color: var(--tradition-color); }
  .explore-button.pressed.filter-region::after,    .category-region       { background-color: var(--region-color); }
  .explore-button.pressed.filter-US::after,        .category-US           { background-color: var(--US-color); }
  .explore-button.pressed.filter-race::after,      .category-race         { background-color: var(--race-color); }
  .explore-button.pressed.filter-short::after,     .category-short        { background-color: var(--short-color); }
  .explore-button.pressed.filter-item::after,      .category-item         { background-color: var(--item-color); }
  .explore-button.pressed.filter-creature::after,  .category-creature     { background-color: var(--creature-color); }
  .explore-button.pressed.filter-character::after, .category-character    { background-color: var(--character-color); }

  @keyframes stripeFadeIn {
    from {
      opacity: 0;
      transform: translateY(6px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideInFromRight {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
    100% {
      opacity: 100;
      transform: translateX(0);
    }
  }

  @keyframes slideFromTopIn {
    0% {
      opacity: 0;
      transform: translateY(-90%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideFromTopOut {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-90%);
    }
  }

  @keyframes slideFromBotIn {
    0% {
      opacity: 0;
      transform: translateY(0);
    }
    100% {
      opacity: 1;
      transform: translateY(-25%);
    }
  }

  @keyframes slideFromBotOut {
    0% {
      opacity: 1;
      transform: translateY(-25%);
    }
    100% {
      opacity: 0;
      transform: translateY(0);
    }
  }

  @keyframes goldGlow {
    0% {
      color: #d4af37;
      text-shadow:
        0 0 4px #d4af37,
        0 0 8px #d4af37,
        0 0 12px #c9971a;
    }
    25% {
      color: #ffe28a;
      text-shadow:
        0 0 6px #ffd700,
        0 0 14px #ffcc00,
        0 0 20px #ffb300;
    }
    40% {
      color: #fff7c8;
      text-shadow:
        0 0 10px #fff2a8,
        0 0 20px #ffd86b,
        0 0 30px #ffcc00;
    }
    70% {
      color: #fce59e;
      text-shadow:
        0 0 8px #ffd86b,
        0 0 18px #ffcc00,
        0 0 26px #ffb300;
    }
    100% {
      color: #d4af37;
      text-shadow:
        0 0 4px #d4af37,
        0 0 8px #d4af37,
        0 0 12px #c9971a;
    }
  }

  .slide-in-right {
    animation: slideInFromRight 0.5s ease forwards;      
  }

  .slide-in-top {
    animation: slideFromTopIn 1.0s ease forwards;
  }

  .slide-out-top {
    animation: slideFromTopOut 1.0s ease forwards;
  }

  .slide-in-bot {
    animation: slideFromBotIn 1.1s ease forwards;
  }

  .slide-out-bot {
    animation: slideFromBotOut 1.1s ease forwards;
  }

  .gold-glow {
    animation: goldGlow 3.75s infinite ease-in-out;
  }

}


